################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/coffin/.vs/coffin/FileContentIndex/fde7c680-ed10-4399-b332-576dbce20e48.vsidx
/coffin/.vs/coffin/v17/ipch/AutoPCH/75161cafc9e5cd45/COFFIN.ipch
/coffin/.vs/coffin/v17/Browse.VC.opendb
/coffin/ARM64/Debug
/coffin/.vs/coffin/FileContentIndex
